{% extends "base.html" %}

{% block content %}


            <div class="modal fade none-border" id="x_payment" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Pay Advance </strong></h4>
                        </div>
                        <div class="modal-body">
                            <div id="py-up">
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <form id="payform">
            
                                {% csrf_token %}
            
                                <div class="row">
            
            
                                    {% for field in ad_form %}
                                    <div class="col-md-6">
            
                                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="proced_pay"
                                        class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Proceed
                                        To Pay</button>
                                </div>
                            </form>
                        </div>
            
            
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">

    <div class="row g-4">
        <!-- Check In -->
        <a href="{% url 'checkin' %}" class="col-sm-6 col-xl-3 btn">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-sign-in-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <h6 class="mb-0">Check In</h6>
                </div>
            </div>
        </a>

        <!-- Check Out -->

        <a href="{% url 'checkout' %}" class="col-sm-6 col-xl-3 btn">

            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-sign-out-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <h6 class="mb-0">Check Out</h6>
                </div>
            </div>
        </a>

        <!-- Room Manager -->
        <a href="{% url 'roommanager' %}" class="col-sm-6 col-xl-3 btn">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-bed fa-3x text-primary"></i>
                <div class="ms-3">
                    <h6 class="mb-0">Room Manager</h6>
                </div>
            </div>
        </a>

        <!-- Customer Details -->
        <a href="{% url 'report' %}" class="col-sm-6 col-xl-3 btn">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-file-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <h6 class="mb-0">Customer Details</h6>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-dark text-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Customer Status Management</h6>


            <p><strong>Total Cost of All Users:</strong> ${{ total_cost_all_users }}</p>
            <p><strong>Total Advance Given by Users:</strong> ${{ total_advance_all_users }}</p>
            <p><strong>Total Remaining Balance:</strong> ${{ total_remaining_balance_all_users }}</p>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-secondary text-light border-0" type="search" id="search" placeholder="Search">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0 custom-table" id="customerTable">
                <thead class="table-light">
                    <tr role="row">
                        <th>Full Name</th>
                        <th>Check-in Date</th>
                        <th>Contact</th>
                        <th>Room Total</th>
                        <th>Advance</th>
                        <th>Remaining</th>
                        <th>Room Number</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for data in customer_data %}
                    <tr class="table-row">
                        <td>{{ data.customer.full_name }}</td>
                        <td>{{ data.customer.check_in }}</td>
                        <td>{{ data.customer.phone_number }}</td>
                        <td>{{ data.total_room_price }}</td>
                        <td>{{ data.total_advance }}</td>
                        <td>{{ data.remaining_balance }}</td>
                        <td>
                            {% for room in data.room_numbers %}
                                {{ room }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" onclick="ad_pay({{data.customer.id}})" id="ad_pay">

                                Pay Advance <i class="fas fa-money-bill-wave"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Recent Customer Section -->

<div class="container-fluid pt-4 px-4">
    <div class="bg-dark text-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Customer</h6>
            <a href="{% url 'report' %}" class="text-light">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0 custom-table">
                <thead class="table-dark">
                    <tr role="row">
                        <th>Full Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>IDs</th>
                        <th>Booked By</th>
                        <th>Checkin</th>
                        <th>Check Out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cus in customer %}
                    <tr class="table-row">
                        <td>{{cus.full_name}}</td>
                        <td>{{cus.phone_number|upper}}</td>
                        <td>{{cus.email}}</td>
                        <td>{{cus.location|truncatechars:10}}</td>
                        <td>{{cus.passport_id_number}}</td>
                        <td>{{cus.booked_by}}</td>
                        <td>{{cus.check_in|date:"Y-m-d g:m A"}}</td>
                        <td>{{cus.check_out}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% block scripts %}
<script>
    document.getElementById('search').addEventListener('keyup', function () {
        var filter = this.value.toLowerCase();
        var rows = document.querySelectorAll('#customerTable tbody tr');
        
        rows.forEach(function(row) {
            var name = row.querySelector('td:first-child').textContent.toLowerCase();
            var contact = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
            var roomTotal = row.querySelector('td:nth-child(4)').textContent.toLowerCase();
            var advance = row.querySelector('td:nth-child(5)').textContent.toLowerCase();
            var remaining = row.querySelector('td:nth-child(6)').textContent.toLowerCase();
            
            if (name.includes(filter) || contact.includes(filter) || roomTotal.includes(filter) || advance.includes(filter) || remaining.includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    function ad_pay(b) {
        $("#py-up").hide();
        $('#x_payment').modal('toggle');
        var user = b;

        let csr = $("input[name=csrfmiddlewaretoken]").val();

        $("#proced_pay").unbind("click").bind("click", function () {
            var amount = $("#id_Advance_amount").val();
            var paytype = $('#id_payment_type').find(':selected').val();
            var remarks = $('#id_remarks').val();
            var cred = {
                "user": user,
                "ammount": amount,
                "paytype": paytype,
                "remarks": remarks
            };
            $.ajax({
                method: 'POST',
                url: '{% url "checkout" %}',
                dataType: "json",
                headers: { "X-CSRFToken": csr },
                data: cred,
                beforesend: function () {
                    $("#py-up").show();
                },
                success: function (response) {
                    if (response.message == "success") {
                        $("#x_payment").modal('toggle');
                        $.notify("Payment has been made ", "success");
                    } else {
                        $.notify("Payments cant made !", "alert");
                    }
                },
                complete: function () {
                    $("#py-up").hide();
                }
            });
            $("#payform")[0].reset();
        });
    }
</script>
{% endblock scripts %}

{% endblock %}

